{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h2>Add Data </h2>
<form action="{{ url_for('add')}}" method="post">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date">
    <label for="price">Price:</label>
    <input type="text" id="price" name="price" placeholder="0.0">
    <label for="open">Open:</label>
    <input type="text" id="open" name="open" placeholder="0.0">
    <label for="high">High:</label>
    <input type="text" id="high" name="high" placeholder="0.0">
    <br>
    <label for="low">Low:</label>
    <input type="text" id="low" name="low" placeholder="0.0">
    <label for="vol">Vol:</label>
    <input type="text" id="vol" name="vol" placeholder="0.0K">
    <label for="change">Change:</label>
    <input type="text" id="change" name="change" placeholder="0.0%">
    <input id="add" class="add "type="submit" value="Add/Edit">
</form>
<h2>Delete Data </h2>
<form action="{{ url_for('delete')}}" method="post">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date">
    <input id="delete" class="delete "type="submit" value="Delete">
</form>
{% block app_context %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ title }}</h1>
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Vol</th>
                        <th>Change</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in range(df_table_len_f) %}
                        <tr>
                            <td>{{ (users.iloc[x]['Date']).strftime("%Y-%m-%d") }}</td>
                            <td>{{ users.iloc[x]['Price'] }}</td>
                            <td>{{ users.iloc[x]['Open'] }}</td>
                            <td>{{ users.iloc[x]['High'] }}</td>
                            <td>{{ users.iloc[x]['Low'] }}</td>
                            <td>{{ users.iloc[x]['Vol'] }}</td>
                            <td>{{ users.iloc[x]['Chnge'] }}</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#data').DataTable({
                order : [[0,'desc']],
                columns: [
                    {orderable: true, searchable: true},
                    {orderable: false, searchable: false},
                    {orderable: false, searchable: false},
                    {orderable: false, searchable: false},
                    {orderable: false, searchable: false},
                    {orderable: false, searchable: false},
                    {orderable: false, searchable: false}
                ],
            });
        });
    </script>
{% endblock %}
{% endblock %}