/* humburger menu cashback css start*/
.menu_markethm .fadein_nav{ position: relative; width: 100%;}
.menu_markethm .fadein_nav{position: relative;}
.menu_markethm .fadein_nav span{background-color: #fff;top: 4px;display: block;width: 100%;text-align: left;}
.menu_markethm .fadein_nav span.crtxt{ width: 100%; text-align: left;}
.menu_markethm .fadein_nav a{padding: 10px 0px !important;}
/* humburger menu cashback css end*/

/* MC HP L1 Menu -> Start */
.fadein_nav {width: 102px;}
.fadein_nav a {padding: 0px !important;}
.fadein_nav span { opacity: 1; position: absolute; margin: 0;display: inline-block; top: 8px; background-color: #f7f7f7; }
.fadein_nav span.crtxt { width: 102px; text-align: center; opacity: 1; color: #000E92;font-weight: 700;}
.fadein_nav .crtxt b{ color: #1AC02A;}
.fadein_nav span.cashbackcr { opacity: 0; -webkit-animation: xfade 4s 0s infinite; animation: xfade 4s 0s infinite; color: #1AC02A;font-weight: 700; width: 102px;}
@keyframes xfade { 0% { opacity: 0; } 16.67% { opacity: 0; } 33.34% { opacity: 1; } 66.67% { opacity: 1; } 83.34% { opacity: 0; } 100% { opacity: 0; } }
/* End <- MC HP L1 Menu */

/* wap menu remove ads css start*/
.menutable .fadein_nav_remove_ads{ position: relative; width: 100%;}
.menutable .fadein_nav_remove_ads{position: relative;}
.menutable .fadein_nav_remove_ads span { opacity: 1; position: absolute; margin: 0;display: inline-block; top: 12px; background-color: #F9F1EC; }
/* .menutable .fadein_nav_remove_ads span{background-color: #f9f1ec; top: 14px; display: block; width: 100%; text-align: left;} */
.menutable .fadein_nav_remove_ads span.crtxt{ width: 100%;}
/* .menutable .fadein_nav_remove_ads a{padding: 20px 30px !important; display: flex;align-items: center;} */
.menutable .fadein_nav_remove_ads a:first-child{padding: 20px 30px !important; display: flex;align-items: center;}
.menutable .fadein_nav_remove_ads span.cashbackcr { opacity: 0; -webkit-animation: xfade 4s 0s infinite; animation: xfade 4s 0s infinite; color: #0166a2;font-weight: 700;}
@keyframes xfade { 0% { opacity: 0; } 16.67% { opacity: 0; } 33.34% { opacity: 1; } 66.67% { opacity: 1; } 83.34% { opacity: 0; } 100% { opacity: 0; } }

/* Multiple options */
.menutable .fadelist {color: #000; font-size: 14px; line-height: 20px;}
.menutable .fadelist .colorblue {color: #0166a2;}
.menutable .fadein_nav_remove_ads a:first-child {padding: 12px 24px !important;}
/* wap menu remove ads css end*/

/* my profile cashback css start*/
.my_acclist .fadein_nav{ position: relative; width: 100%;}
.my_acclist .fadein_nav{position: relative;}
.my_acclist .fadein_nav span{background-color: #fff; top: 0px; display: block; width: 100%; text-align: left;}
.my_acclist .fadein_nav span.crtxt{ width: 100%;}
/* my profile cashback css end*/

/* dropdown cashback css start*/
.market_listmenu .fadein_nav{ position: relative; width: 100%;}
.market_listmenu .fadein_nav{position: relative;}
.market_listmenu .fadein_nav span{background-color: #fff; top: 0px; display: block; width: 100%; text-align: left;}
.market_listmenu .fadein_nav span.crtxt{ width: 100%;}
.market_listmenu .fadein_nav a{padding: 7px 0px !important;}
/* dropdown cashback css end*/

/* wap sticky cashback css start*/
.mcApp_btn.fadein_nav{width: auto;height: 35px !important;}
.mcApp_btn.fadein_nav span{background-color: #02828D; top: 3px; display: block; width: 100%;}
.mcApp_btn.fadein_nav span.crtxt{ width: 100%;}
.mcApp_btn.fadein_nav span.cashbackcr{color: #fff;}
/* wap sticky cashback css end*/

/* wap menu cashback css start*/
.menutable .fadein_nav{ position: relative; width: 100%;}
.menutable .fadein_nav{position: relative;}
.menutable .fadein_nav span{background-color: #fff; top: 14px; display: block; width: 100%; text-align: left;}
.menutable .fadein_nav span.crtxt{ width: 100%;}
.menutable .fadein_nav a{padding: 20px 30px !important;}
/* wap menu cashback css end*/

/* wap profile menu cashback css start*/
.hamburger_tabs_content .fadein_nav{ position: relative; width: 100%;}
.hamburger_tabs_content .fadein_nav{position: relative;}
.hamburger_tabs_content .fadein_nav span{background-color: #EFEFEF; top: 14px; display: block; width: 100%; text-align: left;}
.hamburger_tabs_content .fadein_nav span.crtxt{ width: 100%;}
.hamburger_tabs_content .fadein_nav a{padding: 20px 30px !important;}
/* wap profile menu cashback css end*/

/* wap footer cashback css start*/
.footermobilink .fadein_nav{ position: relative; width: 100%;}
.footermobilink .fadein_nav{position: relative;}
.footermobilink .fadein_nav span{background-color: #fff; top: 9px; display: block; width: 94%; margin-left: 11px; text-align: left;}
.footermobilink .fadein_nav span.crtxt{ width: 94%;}
.footermobilink .fadein_nav a{padding:0px !important;}
/* wap footer cashback css end*/

/* footer cashback css start*/
.footleft .fadein_nav{ position: relative; width: 100%;}
.footleft .fadein_nav{position: relative;}
.footleft .fadein_nav a{padding: 0px 5px !important;}
.footleft .fadein_nav span{background-color: #fff; top: 1px; display: block; width: 100%; text-align: left;}
.footleft .fadein_nav span.crtxt{ width: 100%;}
/* footer cashback css ebd*/