@media all and (max-width:980px) {
.respons_foot_desk{display:none;}
.respons_foot_desk.no_responsive{display:block;}
.footerMobile { background:#d6e2e7; padding:10px; display:block;}
.footerMobile.no_responsive { display:none;}
.footerMobile .whbg { background:#fff }
.footerMobile .fresub_title { color:#0065a1; font:900 16px 'Lato', sans-serif; border-bottom:1px solid #ececec; padding-bottom:10px; margin-bottom:10px; text-transform:uppercase }
.footerMobile .newsltrbx { border:1px solid #ccc; padding:2px; border-radius:2px; -webkit-border-radius:2px }
.footerMobile .newsltrbx input { width:60%; padding:8px 10px; font:14px 'Lato', sans-serif; color:#333; float:left; border:none }
.footerMobile .newsltrbx button { float:right; width:84px; height:36px; font:700 15px/36px 'Lato', sans-serif; color:#fff; text-align:center; display:block; border:none; background:#54a831 }
.footerMobile .ic_suscsbr { background:url(https://images.moneycontrol.com/images/common/header/homepage-sprite.png?v=0.9) -62px -509px; display:inline-block; width:12px; height:12px; vertical-align:middle }
.footerMobile .flinklist li { display:block; float:left; width:30%; margin-right:1%; padding:8px 0; border-bottom:1px solid #dadada }

.footerMobile .flinklist li a { font:13px 'Lato', sans-serif; color:#282828 }
.footerMobile .fmrelink { display:inline-block; width:44px; height:11px; background:url(https://images.moneycontrol.com/images/common/header/homepage-sprite.png?v=0.9) -385px -323px }
.footerMobile .fntsize { font:13px 'Lato', sans-serif; color:#666 }
.footerMobile .fntsize span { color:#333; font-weight:700 }
.footerMobile .fntsize span.fn1 { font-size:18px }
.footerMobile .fntsize span.fn2 { font-size:24px }
.footerMobile .ic_fbfter, .footerMobile .ic_gpls, .footerMobile .ic_twtr, .footerMobile .ic_instagram_mn, .footerMobile .ic_tg, .ic_jio_news { display:inline-block; vertical-align: middle; width:43px; height:43px; background:url("https://images.moneycontrol.com/images/common/header/homepage-sprite.png?v=0.9") no-repeat; }
.footerMobile .ic_fbfter { background-position:-195px -380px }
.footerMobile .ic_twtr { background-position:-246px -380px }
.footerMobile .ic_gpls { background-position:-296px -380px }
.footerMobile .ic_instagram_mn {background-position: -125px -510px}
.footerMobile .ic_tg {background-position:-234px -516px; margin: 0 !important;}
.footerMobile .ic_fapapstr, .footerMobile .ic_fapgpl, .footerMobile .ic_fapwin { margin:0; display:inline-block; width:94px; height:32px; background:url(https://images.moneycontrol.com/images/common/header/homepage-sprite.png?v=0.9) }
.footerMobile .ic_fapgpl { background-position:-62px -460px }
.footerMobile .ic_fapapstr { background-position:-163px -460px }
.footerMobile .ic_fapwin { background-position:-262px -460px; width:100px }
.ic_jio_news { background-position: -59px -567px; margin: 0 0px !important; width: 44px; height: 44px;}
}

@media screen and (max-width:980px) {
.footer_navigation_list.no_responsive{display:none;}
.footer_navigation_list li .wap_ic_home { display:block; margin-top:1px; } 
.footer_navigation_list li.active .wap_ic_home { display:none; } 
.footer_navigation_list li .wap_ic_home_active { display:none; } 
.footer_navigation_list li.active .wap_ic_home_active { display:block; margin-top:1px; } 
.footer_navigation_list li .wap_ic_markets { display:block; } 
.footer_navigation_list li.active .wap_ic_markets { display:none; } 
.footer_navigation_list li .wap_ic_markets_active { display:none; } 
.footer_navigation_list li.active .wap_ic_markets_active { display:block; } 
.footer_navigation_list li .wap_ic_news { display:block; } 
.footer_navigation_list li.active .wap_ic_news { display:none; } 
.footer_navigation_list li .wap_ic_news_active { display:none; } 
.footer_navigation_list li.active .wap_ic_news_active { display:block; } 
.footer_navigation_list li .wap_ic_portfolio { display:block; } 
.footer_navigation_list li.active .wap_ic_portfolio { display:none; } 
.footer_navigation_list li .wap_ic_portfolio_active { display:none; } 
.footer_navigation_list li.active .wap_ic_portfolio_active { display:block; } 
.responsive_true { z-index:9999; top:0 } .responsive_true .icpancakeblock.open_div { display:none!important; } 
/*
.responsive_true .icpancakeblock { animation:movingTop_To_Bottom 1s ease; -webkit-animation:movingTop_To_Bottom ease 1s; } 
@keyframes movingTop_To_Bottom { 100% { top:0; } 0% { top:-20px; } }
*/
.close_div { display:block; opacity:1 } 
.footer_navigation_list { display:flex; margin:0; padding:8px 0 3px; bottom:0; position:fixed; z-index:9999; width:100%; background-color:#ffffff; border-top: 1px solid #cccccc; justify-content: space-around;} 
.close_ad_div { bottom:46px!important; animation:movingStickyBottom_To_Top 1s ease; -webkit-animation:movingStickyBottom_To_Top ease 1s; } 
@keyframes movingStickyBottom_To_Top { 100% { bottom:45px; } 0% { bottom:0; } } 
.footer_navigation_list.close_div { display:flex; justify-content:space-evenly; } 
.footer_navigation_list li { text-align:center; margin-top:2px; width: unset;} 
.footer_navigation_list li a { font:10px/12px Latoregular, sans-serif; color: #333333; text-transform: uppercase;} 
.footer_navigation_list li.active a { color: #333333 } 
.footer_navigation_list li a>div+div+div { margin-top:3px } 
.footer_navigation_list, .footer_navigation_list * { box-sizing:unset } 
.fixednav.menu_sec_desk { top:0!important; } 
.wap_ic_home_active svg, .wap_ic_home_active svg path, .wap_ic_markets_active svg, .wap_ic_markets_active svg path, .wap_ic_news_active svg, .wap_ic_portfolio_active svg, .wap_ic_portfolio_active svg path {fill: #000000;}
.footer_navigation_list li.pro_circle {background-color: #F8F0EB; width: 44px; height: 44px; border-radius: 100%; margin-top: -5px; position: relative;}
.footer_navigation_list li.pro_circle .Pro {font: 15px/28px 'Lato', sans-serif; color: #F26F33; font-weight: 800; text-transform: uppercase; position: absolute; right: 0; left: 0; margin: 10px auto auto auto;}
.footer_navigation_list li.pro_circle .bea {font-size: 8px; color: #F26F33; text-transform: uppercase; line-height: 10px; font-weight: 400; position: absolute; top: 9px; right: 0; left: 0;}
ul.footer_navigation_list li svg .a {fill: none !important;}

/* Credit Score Sticky Menu -> Start */
	.footer_navigation_list li.creScroe {width: 49px; height: 49px; border-radius: 100%; margin-top: -5px; position: relative;}
	.css-slideshow{position: relative;height: auto; margin: 0 auto;}
	.css-slideshow figure{margin: 0; position: absolute; }
	.css-slideshow figure img {border-radius:100%; width: 49px; height: 49px;}
	.css-slideshow figure {opacity:1;}
	figure#bottom { opacity:0; -webkit-animation: xfade 4s 0s infinite; animation: xfade 4s 0s infinite; }
	@keyframes xfade { 0% { opacity: 0; }	16.67% { opacity: 0; }	33.34% { opacity: 1; }	66.67% { opacity: 1; }	83.34% { opacity: 0; }	100% { opacity: 0; }}
/* End <- Credit Score Sticky Menu */

}

@media all and (max-width:360px) {
.footerMobile .flinklist li {width:47%; margin-right:2%;}
}